body {
  font-family: Arial, sans-serif;
  background-color: #eee;
  padding: 20px;
}

main {
  background-color: white;
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 5px;
}

button {
  margin-top: 10px;
}

li {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
